# Binarios compilados
*.exe
interprete
repasoEnC

# Archivos de datos generados
creatures

# VS Code
.vscode/

# Archivos temporales
*.o
*.obj
*.tmp

# Archivos generados por pruebas
borrar_seguro_basura/
personajes_copia.txt
